<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-java-connection" version="0.2.3">
    <name>Cordova Plugin Java Connection</name>
    <description>Cordova Plugin Java Connection</description>
    <license>Apache 2.0</license>
    <keywords>cordova,device</keywords>

    <platform name="android">
        <framework src="com.google.code.gson:gson:2.8.4" />
        <framework src="com.android.support:appcompat-v7:27.1.1" />
        <framework src="com.android.support:recyclerview-v7:27.1.1" />
        <framework src="com.google.android.gms:play-services-location:16.0.0" />
        <framework src="com.squareup.retrofit2:retrofit:2.5.0" />
        <framework src="com.squareup.retrofit2:converter-scalars:2.5.0" />
        <framework src="com.squareup.okhttp3:logging-interceptor:3.9.1" />

        <js-module src="www/Cordova-plugin-java-connection.js" name="CordovaPluginJavaConnection">
            <clobbers target="CordovaPluginJavaConnection" />
        </js-module>

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="CordovaPluginJavaConnection">
                <param name="android-package" value="com.prueba.conex.CordovaPluginJavaConnection"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        </config-file>
        
        <edit-config file="AndroidManifest.xml" target="/manifest/application" mode="merge">
            <application android:name="com.prueba.conex.MyApplication"/>
        </edit-config>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="com.prueba.conex.MyForegroundService"android:label="MarcoEstrellaProcess" />
            <receiver android:name="com.prueba.conex.PlugInControlReceiver">
                <intent-filter>
                    <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                    <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                    <action android:name="android.hardware.usb.action.USB_STATE" />
                </intent-filter>
            </receiver>
            <receiver android:name="com.prueba.conex.GpsStatusReceiver">
                <intent-filter>
                    <action android:name="android.location.PROVIDERS_CHANGED" />
                </intent-filter>
            </receiver>
        </config-file>

        <source-file src="src/android/java/CordovaPluginJavaConnection.java" target-dir="src/com/prueba/conex" />
        <source-file src="src/android/java/MyApplication.java" target-dir="src/com/prueba/conex" />
        <source-file src="src/android/java/AppDatabase.java" target-dir="src/com/prueba/conex" />
        <source-file src="src/android/java/AppPreferences.java" target-dir="src/com/prueba/conex" />
        <source-file src="src/android/java/MyForegroundService.java" target-dir="src/com/prueba/conex" />
        <source-file src="src/android/java/PlugInControlReceiver.java" target-dir="src/com/prueba/conex" />
        <source-file src="src/android/java/RetrofitCreator.java" target-dir="src/com/prueba/conex" />
        <source-file src="src/android/java/TrackingPositionModel.java" target-dir="src/com/prueba/conex" />
        <source-file src="src/android/java/TrasladaLogService.java" target-dir="src/com/prueba/conex" />
        <source-file src="src/android/java/TrasladaTrackerService.java" target-dir="src/com/prueba/conex" />
        <source-file src="src/android/java/GpsStatusReceiver.java" target-dir="src/com/prueba/conex" />

        <resource-file src="src/android/res/drawable/ic_running.xml" target="res/drawable/ic_running.xml" />
    </platform>
</plugin>