<md-toolbar layout-align="center center">
    <div layout-align="center center"
         class="md-toolbar-tools">Prueba</div>
</md-toolbar>

<md-content layout="column"
            flex>
    <section layout="row"
             layout-sm="column"
             layout-align="center center"
             layout-wrap>
        <md-button class="md-raised"
                   ng-click="$ctrl.startService()">Start service</md-button>
        <md-button class="md-raised"
                   ng-click="$ctrl.stopService()">Stop service</md-button>
        <md-button class="md-raised"
                   ng-click="$ctrl.showLog()">Show log</md-button>
    </section>
    <section>
        <div ng-if="$ctrl.showLogToggle"
             flex>
            <div class="md-3-line"
                 ng-repeat="log in $ctrl.appService.logList">
                <span class="item-repeat"
                      layout="row"
                      layout-align="center center">{{log}}</span>
                <md-divider></md-divider>
            </div>
        </div>
    </section>
</md-content>